#MailChimpTemplates .dnnForm    {width: 90% !important; }
#MailChimpTemplates .dnnFormItem    {width: 90% !important; }
#MailChimpTemplates .dnnFormItem textarea    {width: 100% !important; max-width: initial !important;}